.mag{
    border-radius: 50%;
}

.slogan {
	color:#C679E3;
	font-weight: bold;
}

.font {
	/*background-color: #E7D6FF;*/
	background-color: #44CE6F;
}

.heroColor {
	background-color: #FDCC59;
}

.banne {
	color: #373684;
	color: rgb(133, 2, 189);
}

.introduction > p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-indent: 50px;
	font-size: 1.2rem;

}

p {
	font-size: 1.2rem;
}

.home-slogan, .courses {
	background-color: #1d8a65c5;
}

.course-header {
	color: aliceblue;
}

.nav-link {
	font-size: 1.2rem;
}

.navbar-nav > li {
	margin: 0 10px;
}

.card-services {
	background-color: aliceblue;
}

.card-body {
	background-color: darkgray;
	border-radius: 10px;
}

.card {
	background-color: rgb(37, 107, 107);
	border-radius: 25px;
}

