.mag{
    border-radius: 50%;
}

.slogan {
	color:#C679E3;
	font-weight: bold;
}

.font {
	/*background-color: #E7D6FF;*/
	background-color: #44CE6F;
}

.heroColor {
	background-color: #FDCC59;
}

.banne {
	color: #373684;
}