.blog-container {
    background-color: rgba(160, 190, 190, 0.4);
    box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
    /* border-radius: 32px; */
}

#blog-body {
    text-indent: 50px;
    margin-top: 32px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

p {
    text-indent: 50px;
    margin-top: 32px;
    font-size: 1.25rem;
    word-spacing: 12px;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.jumbotron-container {
    flex: auto;
    justify-content: center;
    margin-bottom: 32px;
    background-color: rgba(8, 82, 151, 0.4);
}

.jumbotron {
    margin-left: 32px;
}

.pub {
    background-color: aquamarine;
    box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
    transition: all linear 1s;
    /* border-radius: 32px; */
}

/* .pub:hover {
    transform: scale(1.5) translateX(-300px);
} */

.info {
    background-color:rgb(123, 168, 153);
    box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
    /* border-radius: 32px; */
}

.active, .nav-item:hover {
	background-color: #336b49;;
	border-radius: 10px;
}

.nav-link {
	font-size: 1.2rem;
}

.navbar-nav > li {
	margin: 0 10px;
}

.form-wrapper {
	/* display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center; */
    max-width: 600px;
    
}

.form-control {
    @media (min-width: 600px) {
        max-width: 600px;
    }
}

.backGround {
    position: relative;
    background: url('../Images/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 250px;
}

@media (min-width: 500px) {
    .mobileGround {
        display: none;
    }
    .heroText {
        position: absolute;
        top: 100px;
        left: 20vw;
        color: red;
        font-weight: bold;
    }
}

@media (max-width: 500px) {
    .backGround {
        display: none;
    }
}



/* https://www.codeur.com/-sandaogom */